################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FleetTrackingInformationSystem/FleetTrackingInformationSystem/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FleetTrackingInformationSystem/FleetTrackingInformationSystem/bin/DB_Full (1).sql
/FleetTrackingInformationSystem/FleetTrackingInformationSystem/bin/DB_Full 2.sql
